* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  background: #f4f5f5;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.hover-cls:hover {
  color: #007fff;
}
